<!DOCTYPE html>
<html>
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<head>
    <meta charset="UTF-8">
    <title>Real Time Movie Sentiment Analysis App</title>
</head>
<body>
<div class="text-center">
    <h2>Real Time Movie Sentiment Analysis App</h2>
    <h5>(c) 2019, Fabrice LEBEL, fabrice.lebel.pro@outlook.com</h5>
</div>
<hr>
<div>
    <h3 class="text-center">Add Movie to Database</h3>
</div>
<div>
    <form method="post">
        <input type="submit" class="btn btn-primary" name="btn" value="< Back">
        <div class="container">
            <div class="form-group">
                <label for="movie_name">Movie name</label>
                <input type="text" class="form-control" name="movie_name" id="movie_name">
            </div>
            <div class="form-group">
                <label for="movie_description">Movie description</label>
                <textarea class="form-control" rows="8" cols="40" name="movie_description" id="movie_description">{{ comment_value }}</textarea>
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <input class="form-control" name="year" id="year">{{ year }}</input>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" name="btn" value="Save">
            </div>
        </div>
    </form>
</div>

</body>
</html>