<!DOCTYPE html>
<html>
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<head>
    <meta charset="UTF-8">
    <title>Real Time Movie Sentiment Analysis App</title>
</head>
<body>
<div class="text-center">
    <h2>Real Time Movie Sentiment Analysis App</h2>
    <h5>(c) 2019, Fabrice LEBEL, fabrice.lebel.pro@outlook.com</h5>
</div>
<hr>
<div class="container text-center">
    <form method="post">
        <div class="form-group">
            Do you want to delete movie '{{ movie_name }}' (ID '{{ movie_id }}') and its' related comments?.
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" name="btn" value="< Back">
            <input type="submit" class="btn btn-primary" name="btn" value="Delete">
        </div>
    </form>
</div>
</body>
</html>