<!DOCTYPE html>
<html>
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<head>
    <meta charset="UTF-8">
    <title>Real Time Movie Sentiment Analysis App</title>
</head>
<body>
<div class="text-center">
    <h2>Real Time Movie Sentiment Analysis App</h2>
    <h5>(c) 2019, Fabrice LEBEL, fabrice.lebel.pro@outlook.com</h5>
</div>
<hr>
<div>
    <form method="post">
        <div class="container">
            <table class="table table-borderless">
                <tr>
                    <td class="align-bottom">
                        <div class="form-group">
                            <label for="movie_to_search_for">Movie name</label>
                            <input type="text" class="form-control" name="movie_to_search_for" id="movie_to_search_for">
                        </div>
                    </td>
                    <td class="align-bottom">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" name="btn" value="Search...">&nbsp;
                            <input type="submit" class="btn btn-primary" name="btn" value="Add movie to database">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="container">
            <table class='table table-hover'>
                <tr>
                    <th>Movie name</th>
                    <th>Movie ID</th>
                    <th>Description</th>
                    <th>Year</th>
                </tr>
                {% for movie in movies %}
                <tr>
                    <td><a href="{{ url_for('movie', movie_name=movie[0], movie_id=movie[1]) }}">{{ movie[0] }}</a></td>
                    <td>{{ movie[1] }}</td>
                    <td>{{ movie[2] }}</td>
                    <td>{{ movie[3] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </form>
</div>

</body>
</html>