<!DOCTYPE html>
<html>
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<head>
    <meta charset="UTF-8">
    <title>Real Time Movie Sentiment Analysis App</title>
</head>
<body>
<div class="text-center">
    <h2>Real Time Movie Sentiment Analysis App</h2>
    <h5>(c) 2019, Fabrice LEBEL, fabrice.lebel.pro@outlook.com</h5>
</div>
<hr>
<div>
    <h3 class="text-center">Sentiment Analysis about '{{ movie_name }}'</h3>
    <form method="post">
        <input id="movie_id" name="movie_id" type="hidden" value="{{ movie_id }}">
        <div class="form-group">
            <div>
                <input type="submit" class="btn btn-primary" name="btn" value="Home">&nbsp;
                <input type="submit" class="btn btn-primary" name="btn" value="< Back">&nbsp;
                <input type="submit" class="btn btn-primary" name="btn" value="Refresh">
            </div>
        </div>
        <div>
            <table class="table">
                <tr>
                    <td>Total number of comments:&nbsp;{{ total_comments }}</td>
                </tr>
                <tr>
                    <td valign="top"><img style="max-width:50%" src="{{ frequency_table_fig }}"><img style="max-width:50%" src="{{ top_words_fig }}"></td>
                </tr>
            </table>
            <p>
            <h5>Last 10 comments:</h5>
            {% autoescape off %}{{ pandas_table_content }}{% endautoescape %}
            </p>
        </div>
    </form>
</div>
</body>
</html>