<!DOCTYPE html>
<html>
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<head>
    <meta charset="utf-8"/>
    <title>Real Time Movie Sentiment Analysis App</title>
</head>

<body>
<div class="text-center">
    <h2>Real Time Movie Sentiment Analysis App</h2>
    <h5>(c) 2019, Fabrice LEBEL, fabrice.lebel.pro@outlook.com</h5>
</div>
<hr>
<div>
    <form method="post">
        <div>
            <h3 class="text-center">Comments about '{{ movie_data.movie_name }}'</h3>
            <table class="table table-borderless">
                <tr valign="top">
                    <td>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" name="btn" value="< Back">&nbsp;<input type="submit" class="btn btn-primary" name="btn" value="Refresh">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" name="btn" value="Sentiment analysis">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" name="btn" value="Delete">
                        </div>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>Name:</td>
                                <td>{{ movie_data.movie_name }}</td>
                            </tr>
                            <td>ID:</td>
                            <td>{{ movie_data.movie_id }}</td>
                            <tr>
                                <td>Description:</td>
                                <td>{{ movie_data.description }}</td>
                            </tr>
                            <tr>
                                <td>Year:</td>
                                <td>{{ movie_data.year }}</td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label for="comment">Enter your comment:</label>
                                        <textarea class="form-control" rows="5" cols="80" name="comment" id="comment">{{ comment_value }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" name="btn" value="Submit comment">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div>
    <h5>Last 10 comments:</h5>
</div>
<div class="container">
    <table class='table table-hover'>
        <tr>
            <th>Comment</th>
            <th>Date/Time</th>
        </tr>
        {% for comment in movie_comments %}
        <tr>
            <td>{{ comment.movie_comment }}</td>
            <td>{{ comment.datetime }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
